import numpy as np

import pandas as pd

import os

import seaborn as sns

import matplotlib.pyplot as plt

from sklearn import svm

from sklearn.metrics import accuracy_score

from sklearn.neighbors import KNeighborsClassifier

from sklearn import metrics

from sklearn.model_selection import cross_val_score

from sklearn import preprocessing

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

import joblib

from sklearn.metrics import accuracy_score

In [6]:
df = pd.read_csv(r"/content/collegePlace.csv")
df.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                2966 non-null   int64
 1   Gender             2966 non-null   object
 2   Stream             2966 non-null   object
 3   Internships        2966 non-null   int64
 4   CGPA               2966 non-null   int64
 5   Hostel             2966 non-null   int64
 6   HistoryOfBacklogs  2966 non-null   int64
 7   PlacedOrNot        2966 non-null   int64
dtypes: int64(6), object(2)
memory usage: 185.5+ KB

In [8]:
df.isnull().sum()

Age                  0
Gender               0
Stream               0
Internships          0
CGPA                 0
Hostel               0
HistoryOfBacklogs    0
PlacedOrNot          0
dtype: int64

In [11]:
def transformationplot(feature):

  plt.figure(figsize=(12,5)) 
  plt.subplot(1,2,1) 
  sns.distplot(feature)

  transformationplot(np.log(df['Age']))

In [13]:
df = df.replace(['Male'], [8])
df = df.replace(['Female'], [1])

In [14]:
df = df.replace(['Computer Science', 'Information Technology', 'Electronics And Communication', 'Mechanical', 'Electrical', 'Civil'], [0,1,2,3,4,5])

In [15]:
df = df.drop(['Hostel'], axis=1)

In [16]:
df

      Age  Gender  Stream  Internships  CGPA  HistoryOfBacklogs  PlacedOrNot
0      22       8       2            1     8                  1            1
1      21       1       0            0     7                  1            1
2      22       1       1            1     6                  0            1
3      21       8       1            0     8                  1            1
4      22       8       3            0     8                  0            1
...   ...     ...     ...          ...   ...                ...          ...
2961   23       8       1            0     7                  0            0
2962   23       8       3            1     7                  0            0
2963   22       8       1            1     7                  0            0
2964   22       8       0            1     7                  0            0
2965   23       8       5            0     8                  0            1

[2966 rows x 7 columns]